.title{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.header{
    background-color: #FDE74C;
    font-family: sans-serif;
    color: #273E47;
}