@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

#root {}

/* height of the container */
.leaflet-container {
  height: 93.5vh;
  width:100%;
}


